fieldset {
  border: none;
  color: black;

  font-family: 'Hind Siliguri', sans-serif;

}

/*wrapped body things into div so background image could cover all of it */

.bigregister {
  color:white;
  padding-bottom: 15vh;

  background-image: url(../images/mamahorse.jpg);
  background-size: cover;
}

/*a lot similar to login page */

.text-fields p {
  display: flex;
  width: 30vw;
}

.text-fields p label {
  width: 18ch;
}

.text-fields p input {
  flex: 1;
  
}

.text-fields button {
  margin-left: 20ch;
}

/*like login */

button {
  background-color: midnightblue;
  color: white;
  border: 1px solid white;

  margin-bottom: 2ch;

  padding: 2ch;
  border-radius: 20%;
}

button:hover {
  background-color:white;
  color: midnightblue;
  border: 1px solid midnightblue;

  margin-bottom: 2ch;

  padding: 2ch;
  border-radius: 20%;
}